@import 'base/fonts';

* {
	font-family: 'BebasNeue', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	background: #f3f3f3;
}
.container {
	max-width: 1664px;
	width: 86.66%;
	margin: 0 auto;
}
.divider {
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background: #c49e5e;
}
.hierarhy {
	padding-top: 201px;
	&_links {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 22px;
		padding: 30px 0;
		width: 100%;
		background: rgba(196, 158, 94, 0.72);
	}
}
.pagination {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 57px;
	&_item, &_next, &_prev {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border: 1px solid #000;
		border-radius: 4px;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #212b36;
		cursor: pointer;
		user-select: none;
	}
	.active {
		border: 1px solid #c49e5e;;
		color: #c49e5e;
	}
	.lock {
		background: rgba(#919eab, 0.5);
		border: none;
	}
	.rotate {
		img {
			transform: rotate(180deg);
			filter: contrast(0.5);
		}
	}
}
a {
	text-decoration: none;
}
.br {
	display: none;
}

@import 'blocks/title';
@import "blocks/button";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/monuments";
@import "blocks/promo_services";
@import "blocks/features";
@import "blocks/newest";
@import "blocks/model_request";
@import "blocks/work_process";
@import "blocks/application";
@import "blocks/about";
@import "blocks/especial";
@import "blocks/choice_help";
@import "blocks/contacts";
@import "blocks/our_works";
@import "blocks/medallions";
@import "blocks/catalog";
@import "blocks/product";
@import "blocks/interested";
@import "blocks/services";
@import "blocks/landscaping";
@import "blocks/footer";
@import 'media/general';
