@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.button {
		height: 50px;
		&::before, &::after {
			background-image: url('../icons/button_left_m.svg');
			width: 24px;
		}
		&_send {
			padding: 0 34px;
			img {
				left: 10px;
				width: 24px;
			}
		}
		
	}
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {
	.button {
		&_card {
			height: 25px;
			&::before, &::after {
				background-image: url('../icons/button_left_card.svg');
				width: 13px;
			}
		}
	}
}
