@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {
    .choice_help {
        padding-top: 75px;
        &_form {
            &_input {
                width: calc(70% - 62px);
            }
        }
        .button {
            width: 50%;
        }
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.choice_help {
        padding-top: 50px;
        &_wrapper {
            min-height: 556px;
            background: url('../img/choice_help_bg_m.png') no-repeat 50%/cover;
        }
        &_image {
            display: none;
        }
        &_content {
            position: relative;
            z-index: 1;
            padding: 39px 3.5% 0 3.5%;
            width: 93%;
        }
        &_form {
            margin-top: 17px;
            gap: 20px;
            &_input {
                width: calc(100% - 28px);
                height: 10px;
                padding: 11px 14px;
                font-size: 16px;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
        .title_32 {
            margin-top: 10px;
        }
        .button {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
