@import "title";
@import "button";
@import "header";
@import "promo";
@import "monuments";
@import "promo_services";
@import "features";
@import "newest";
@import "model_request";
@import "work_process";
@import "application";
@import "about";
@import "especial";
@import "choice_help";
@import "contacts";
@import "our_works";
@import "medallions";
@import "catalog";
@import "product";
@import "interested";
@import "services";
@import "landscaping";
@import "footer";

.hide {
	display: none;
}
.show {
	display: block;
}
.flex {
	display: flex;
}

.trans-5 {
	transition: 0.5s all;
}

@media (max-width: 992px) {
	.container {
		width: 86.666%;
	}
	.hierarhy {
		padding-top: 112px;
		&_links {
			gap: 13px;
			padding: 12px 0;
			img {
				width: 40px;
			}
		}
	}
	.pagination {
		margin-top: 41px;
	}
}
