@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {
    .medallions {
        padding-top: 40px;
        &_tabs {
            &_header {
                margin-top: 25px;
            }
            &_item {
                padding: 15px 0;
            }
            &_images {
                margin-top: 16px;
            }
            .divider {
                margin: 16px 0 15px 0;
            }
        }
        &_decoration {
            &_images {
                gap: 15px 1.68%;
            }
        }
        &_backdrop {
            &_images {
                gap: 15px 2%;
            }
        }
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.medallions {
        padding-top: 30px;
        &_tabs, &_decoration, &_backdrop {
            &_header {
                flex-direction: column;
                gap: 15px;
            }
            &_item {
                width: 100%;
            }
            &_images {
                gap: 3.2%;
            }
            &_image {
                padding: 8px 7.05%;
                width: calc(48.07% - 14.1% - 4px);
            }
            .title_32 {
                max-width: 95%;
            }
            .divider {
                margin: 16px 0 15px 0;
            }
        }
        &_decoration {
            &_wrapper {
                padding: 48.66% 0;
            }
            &_images {
                gap: 8px 1.68%;
            }
            &_image {
                padding: 10px 3%;
                width: calc(48.07% - 6% - 4px);
            }
            .divider {
                display: none;
            }
        }
        &_backdrop {
            &_images {
                gap: 8px 3.2%;
            }
            &_image {
                width: calc(43.07% - 10% - 4px);
            }
        }
        .title {
            text-align: center;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
