@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.our_works {
        padding-top: 30px;
        &_wrapper {
            gap: 12px 0;
            margin-top: 22px;
        }
        &_item {
            width: 48.07%;
            &_wrapper {
                &::after {
                    top: 9px;
                    right: 9px;
                    width: 25px;
                    height: 25px;
                }
            }
        }
        &_slider {
            display: block;
            margin: 12px;
            &_wrapper {
                overflow: hidden;
            }
            &_field {
                display: flex;
            }
            &_slide {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &_indicators {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0;
                margin-top: 16px;
                border-radius: 5px;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
                background: #fff;
            }
            &_dot {
                height: 8px;
                border-radius: 5px;
                background: #fff;
                cursor: pointer;
            }
            &_active {
                background: #c49e5e;
            }
        }
        .examples {
            display: none;
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
