@media (max-width:1720px) {

}
@media (max-width:1600px) {

}
@media (max-width:1440px) {
    .promo {
        margin-bottom: -199px;
        &_wrapper {
            gap: 20px;
        }
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.promo {
        padding-top: 111px;
        margin-bottom: -29px;
        &_wrapper {
            gap: 14px;
            .button {
                width: 90%;
            }
        }
        &_images {
            top: -9px;
            img {
                display: none;
            }
            .mobile {
                display: block;
                width: 100%;
                max-width: none;
            }
        }
    }
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
