@media (max-width:1720px) {
	.title {
		font-size: 22px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 29px;
		}
		&_36 {
			font-size: 33px;
		}
		&_40 {
			font-size: 40px;
		}
		&_44 {
			font-size: 42px;
		}
		&_48 {
			font-size: 48px;
		}
		&_64 {
			font-size: 60px;
		}
		&_70 {
			font-size: 68px;
		}
		&_200 {
			font-size: 180px;
		}
	}
}
@media (max-width:1600px) {
	.title {
		font-size: 20px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 26px;
		}
		&_36 {
			font-size: 30px;
		}
		&_40 {
			font-size: 36px;
		}
		&_44 {
			font-size: 39px;
		}
		&_48 {
			font-size: 44px;
		}
		&_64 {
			font-size: 54px;
		}
		&_70 {
			font-size: 62px;
		}
		&_200 {
			font-size: 160px;
		}
	}
}
@media (max-width:1440px) {
	.title {
		font-size: 18px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 23px;
		}
		&_36 {
			font-size: 28px;
		}
		&_40 {
			font-size: 32px;
		}
		&_44 {
			font-size: 36px;
		}
		&_48 {
			font-size: 40px;
		}
		&_64 {
			font-size: 48px;
		}
		&_70 {
			font-size: 56px;
		}
		&_200 {
			font-size: 140px;
		}
	}
}
@media (max-width: 1200px) {
	.title {
		font-size: 17px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 19px;
		}
		&_36 {
			font-size: 26px;
		}
		&_40 {
			font-size: 28px;
		}
		&_44 {
			font-size: 33px;
		}
		&_48 {
			font-size: 36px;
		}
		&_64 {
			font-size: 42px;
		}
		&_70 {
			font-size: 50px;
		}
		&_200 {
			font-size: 120px;
		}
	}
}
@media (max-width: 992px) {
	.title {
		font-size: 16px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 15px;
		}
		&_36 {
			font-size: 24px;
		}
		&_40 {
			font-size: 24px;
		}
		&_44 {
			font-size: 30px;
		}
		&_48 {
			font-size: 32px;
		}
		&_64 {
			font-size: 36px;
		}
		&_70 {
			font-size: 44px;
		}
		&_200 {
			font-size: 100px;
		}
	}
}
@media (max-width: 768px) {
	.title {
		font-size: 15px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 13px;
		}
		&_36 {
			font-size: 22px;
		}
		&_40 {
			font-size: 20px;
		}
		&_44 {
			font-size: 27px;
		}
		&_48 {
			font-size: 28px;
		}
		&_64 {
			font-size: 30px;
		}
		&_70 {
			font-size: 38px;
		}
		&_200 {
			font-size: 80px;
		}
	}
}
@media (max-width: 480px) {
	.title {
		font-size: 14px;
		&_16 {
			font-size: 16px;
		}
		&_20 {
			font-size: 20px;
		}
		&_32 {
			font-size: 12px;
		}
		&_36 {
			font-size: 20px;
		}
		&_40 {
			font-size: 16px;
		}
		&_44 {
			font-size: 24px;
		}
		&_48 {
			font-size: 24px;
		}
		&_64 {
			font-size: 24px;
		}
		&_70 {
			font-size: 32px;
		}
		&_200 {
			font-size: 64px;
		}
	}
}
