.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    &_upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 86px;
        background: #f3f3f3;
    }
    &_logo, &_address, &_time, &_social, &_call {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }
    &_logo {
        gap: 31px;
    }
    &_address {
        gap: 20px;
    }
    &_social {
        gap: 14px;
        &_links {
            display: flex;
            gap: 20px;
            img:hover {
                transform: scale(1.2);
            }
        }
    }
    &_call {
        align-items: start;
        gap: 26px;
        &_content {
            display: flex;
            justify-content: end;
            text-align: end;
        }
    }
    &_lower {
        background: #fff;
        &_center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 3;
            gap: 3.64%;
            a:hover {
                color: #c49e5e;
            }
        }
        &_right {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55px;
            height: 55px;
            border-radius: 100%;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 65px;
        }
    }
    &_counter {
        position: absolute;
        top: -2px;
        right: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 100%;
        background: #c49e5e;
        text-align: center;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        font-weight: 700;
        font-size: 16px;
        color: #fff;
    }
    &_dropdown {
        position: relative;
        & > label {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        & > div {
            position: absolute;
            top: 48px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding: 25px;
            min-width: 211px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
        }
        & > .internal {
            position: static;
            gap: 25px;
            padding: 14px 25px;
            min-width: none;
            box-shadow: none;
        }
        & :checked ~ div {
            display: flex;
        }
        & :checked ~ label span {
            transform: rotate(-180deg);
        }
        span {
            transition: all 0.8s;
        }
        input, & > div {
            display: none;
        }
        label {
            cursor: pointer;
        }
    }
}
.burger {
    display: none;
    &_button {
        display: none;
    }
    &_dropdown {
        position: relative;
        & > label {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        & > div {
            display: flex;
            flex-direction: column;
            gap: 19px;
            padding: 10px 40px;
            background: #fff;
        }
        & > .internal {
            gap: 10px;
            padding: 10px 20px;
            min-width: none;
            box-shadow: none;
        }
        & :checked ~ div {
            display: flex;
        }
        & :checked ~ label span {
            transform: rotate(-180deg);
            color: #c49e5e;
        }
        & :checked ~ label {
            color: #c49e5e;
        }
        span {
            transition: all 0.8s;
        }
        input, & > div {
            display: none;
        }
        label {
            cursor: pointer;
        }
    }
}
