.landscaping {
    padding-top: 50px;
    &_wrapper {
        margin-top: 50px;
        position: relative;
        width: 100%;
        .main {
            display: block;
            margin: 0 auto;
            width: 73.12%;
            height: 100%;
        }
    }
    &_item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        &:nth-child(2) {
            top: -5.56%;
            left: 0;
            width: 30.36%;
        }
        &:nth-child(3) {
            top: 5.71%;
            left: 57.42%;
            width: 15.34%;
        }
        &:nth-child(4) {
            top: 3.24%;
            left: 80.27%;
            width: 30.36%;
        }
        &:nth-child(5) {
            top: 39.87%;
            left: 81.47%;
            width: 18.22%;
        }
        &:nth-child(6) {
            top: 67.07%;
            left: 0;
            width: 23.87%;
        }
        &:nth-child(7) {
            top: 28.12%;
            left: 0;
            width: 15.75%;
        }
    }
    .title_40 {
        margin: 50px auto 0 auto;
        max-width: 79%;
    }
    .title_40, .title_48 {
        text-align: center;
    }
    .line {
        position: absolute;
        z-index: 0;
        &:nth-child(8) {
            top: 9.42%;
            left: 22.24%;
            width: 24.95%;
        }
        &:nth-child(9) {
            top: 20.55%;
            left: 50.87%;
            width: 24.23%;
        }
        &:nth-child(10) {
            top: 31.22%;
            left: 57.78%;
            width: 40.34%;
        }
        &:nth-child(11) {
            top: 57.11%;
            left: 58.42%;
            width: 40.95%;
        }
        &:nth-child(12) {
            top: 77.19%;
            left: 7.6%;
            width: 33.43%;
        }
        &:nth-child(13) {
            top: 45.59%;
            left: 6.91%;
            width: 38.54%;
        }
    }
    .marker {
        position: absolute;
        z-index: 2;
        width: 1.2%;
        border-radius: 100%;
        animation: shadow 2s ease infinite;
        &:nth-child(14) {
            top: 16.53%;
            left: 46.48%;
        }
        &:nth-child(15) {
            top: 38.02%;
            left: 50.09%;
        }
        &:nth-child(16) {
            top: 38.79%;
            left: 56.94%;
        }
        &:nth-child(17) {
            top: 61.36%;
            left: 57.42%;
        }
        &:nth-child(18) {
            top: 76.66%;
            left: 40.34%;
        }
        &:nth-child(19) {
            top: 52.55%;
            left: 44.91%;
        }
    }
    .mobile {
        display: none;
    }
    @keyframes shadow {
        0% {
            box-shadow: 0 0 0 0 rgba(#f0c777, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(#f0c777, 0);
        }
    }
}
