.newest {
    padding-top: 101px;
    &_favorite {
        position: absolute;
        top: 21px;
        right: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
        img {
            width: 66.66%;
        }
    }
    &_wrapper {
        overflow: hidden;
        margin-top: 50px;
    }
    &_field {
        display: flex;
    }
    &_indicators {
        display: none;
    }
    &_slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;
        &_wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 49px 31px;
            width: calc(100% - 62px);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
            background: #fff;
        }
        &_image {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50% 0;
            width: 100%;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &_header {
        display: flex;
        justify-content: space-between;
    }
    &_title {
        display: flex;
        gap: 40px;
        white-space: nowrap;
    }
    &_controls {
        display: flex;
        gap: 20px;
    }
    .divider {
        margin-top: 10px;
        width: 41%;
    }
    .rotate {
        transform: rotate(180deg);
    }
}
