.our_works {
    padding-top: 50px;
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 31px 0;
        margin-top: 50px;
    }
    &_item {
        width: 32.11%;
        &_wrapper {
            position: relative;
            overflow: hidden;
            padding: 50% 0;
            border-radius: 10px;
            &::after {
                content: '';
                position: absolute;
                top: 25px;
                right: 14px;
                width: 43px;
                height: 43px;
                background-image: url(../../icons/zoom.svg);
                background-size: 100%;
                cursor: pointer;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s;
                &:hover {
                    width: 120%;
                    height: 120%;
                    transition: 0.5s;
                }
            }
        }
    }
    .title_48 {
        text-align: center;
    }
}
