.services_promo {
    padding: 127px 0 190px;
    background: url('../img/services/services_bg.png') no-repeat 50%/cover;
    .title {
        color: #fff;
    }
    .title_64 {
        margin-top: 41px;
        img {
            position: relative;
            top: -48px;
            right: -13px;
            border-radius: 100%;
            animation: shadow 2s ease infinite;
        }
    }
    .button {
        margin-top: 24px;
        width: 23.39%;
    }
    .divider {
        margin: 18px 0;
        width: 23.29%;
    }
    @keyframes shadow {
        0% {
            box-shadow: 0 0 0 0 rgba(#f0c777, 0.5);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(#f0c777, 0);
        }
    }
}
.services {
    padding-top: 70px;
    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 66px 0;
        margin-top: 50px;
    }
    &_item {
        position: relative;
        width: 48.1%;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
        &_wrapper {
            position: absolute;
            top: 0;
            left: 0;
            padding: 24.37% 0;
            width: 100%;
        }
        &_content {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 22px;
            width: 100%;
            height: 100%;
            .button {
                width: 52.12%;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .title {
        text-align: center;
        color: #fff;
    }
    .title_48 {
        color: #000;
    }
}
.services_funeral {
    margin-top: 127px;
    padding: 112px 0 93px;
    background: url('../img/services/services_bg_2.png') no-repeat 50%/cover;
    .title {
        color: #fff;
    }
    .title_48 {
        color: #c49e5e;
    }
    .title_32 {
        width: 51.95%;
    }
    .button {
        margin-top: 34px;
        width: 33.39%;
    }
    .divider {
        margin: 8px 0 34px 0;
        width: 42.63%;
    }
}
.services_products {
    padding-top: 123px;
    .services_wrapper {
        .title {
            color: #fff;
        }
    }
    .services_item {
        width: 30.78%;
        &_wrapper {
            padding: 38.08% 0;
        }
        &_content {
            .button {
                width: 75.97%;
            }
        }
    }
    .divider {
        margin: 20px auto 50px auto;
        width: 41%;
    }
    .title {
        text-align: center;
    }
}
.services_guarantee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 166px;
    padding: 30px;
    background: rgba(196, 158, 94, 0.72);
    img {
        width: 14.85%;
    }
    .title {
        max-width: 75%;
        text-align: center;
    }
}
