.title {
	font-size: 24px;
	font-weight: 400;
	color: #000;
	letter-spacing: 0.03em;
	&_16 {
		font-size: 16px;
	}
	&_20 {
		font-size: 20px;
	}
	&_32 {
		font-size: 32px;
	}
	&_36 {
		font-size: 36px;
	}
	&_40 {
		font-size: 40px;
	}
	&_44 {
		font-size: 44px;
	}
	&_48 {
		font-size: 48px;
	}
	&_64 {
		font-size: 64px;
	}
	&_70 {
		font-size: 70px;
	}
	&_200 {
		font-size: 200px;
	}
}

.book {
	font-weight: 300;
}
.normal {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.upper {
	text-transform: uppercase;
}
.under {
	text-decoration: underline;
}
.gold {
	color: #c49e5e;
}

.lato {
	font-family: "Lato", sans-serif;
}
.inter {
	font-family: "Inter", sans-serif;
}
.sfpro {
	font-family: "SFProText", sans-serif;
}
.urban {
	font-family: "Urbanist", sans-serif;
}
.gilroy {
	font-family: "Gilroy", sans-serif;
}
