.book {
	font-weight: 300;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.upper {
	text-transform: uppercase;
}

.lato {
	font-family: "Lato", sans-serif;
}
.inter {
	font-family: "Inter", sans-serif;
}
.sfpro {
	font-family: "SFProText", sans-serif;
}
.urban {
	font-family: "Urbanist", sans-serif;
}
.gilroy {
	font-family: "Gilroy", sans-serif;
}
