@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue Book.eot');
	src: url('../fonts/BebasNeue Book.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Book.otf') format("opentype"), url('../fonts/BebasNeue Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue Regular.eot');
	src: url('../fonts/BebasNeue Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Regular.otf') format("opentype"), url('../fonts/BebasNeue Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue Bold.eot');
	src: url('../fonts/BebasNeue Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue Bold.otf') format("opentype"), url('../fonts/BebasNeue Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.eot');
	src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SFProText';
	src: url('../fonts/SFProText-Bold.eot');
	src: url('../fonts/SFProText-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFProText-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Urbanist';
	src: url('../fonts/Urbanist-Regular.eot');
	src: url('../fonts/Urbanist-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Urbanist-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.eot');
	src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.eot');
	src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gilroy-SemiBold.woff') format('woff'), url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
